@charset "UTF-8";

body {
    height: 97vh;
    background: black url("../imagens/fundo-madeira.jpg") no-repeat fixed;
    background-size: 100% 100%;
    position: relative;
}

table {
    float: right;
}

.logo {
    width: 40px;
    border-radius: 100%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.541);
}
.logo:hover {
    box-sizing: border-box;
    border: 2px solid rgba(255, 255, 255, 0.644);
    transform: translate(-3px, -3px);
}

#iphone, iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#iphone {
    width: 275px;
}

iframe {
    width: 242px;
    height: 422px;
}
