@charset "UTF-8";

body {
    height: 97vh;
    background: black url("../imagens/fundo-madeira.jpg") no-repeat fixed;
    background-size: 100% 100%;
    position: relative;
}

table {
    float: right;
}

.logo {
    width: 35px;
    border-radius: 100%;
}

#iphone, #home, iframe {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#iphone {
    width: 250px;
}

iframe, #home {
    width: 216px;
    height: 386px;
}
