@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to bottom, #f4c28d, #f29f8d, #a64b4b);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 8px 8px 15px #5f2b2ba2;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #da7f6b;
    text-align: center;
    text-shadow: 1px 1px 2px #613a30a9;
}

h2 {
    color: #b66d6d;
}

p {
    text-align: justify;
}

/*#f4c28d #f29f8d #a64b4b*/